    //homepage design elements
    .ourCollection{
        display: grid;
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        gap: 1rem;
        margin: 16.8rem 7.5rem 7rem 7.5rem;

        .altTitleGradient{
            background: linear-gradient(#afafaf, #fff);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: -1;
            top: 53rem;
            position: absolute;
            justify-self: center;
            margin: 0;
            line-height: 10rem;
            text-transform: lowercase;
            
        }

        .collectionItem{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            text-align: center;
            min-width: 25%;
            z-index: 1;
            position: relative;   
        }
            img{
                margin-bottom: 5.63rem;
            }

            h4{
                margin: 0;
            }

            p{
                padding: 0 3rem;
            }
    }

    //Why Us
    .whyUs{
        background: $color-darkGreyBlue;
        border-radius: 10px;
        margin: 0 5rem 10rem 5rem;
        color: white;
        text-align: center;
        justify-content: center;
        max-height: 650px;

        .whyUsDetails{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            padding: 4rem 22rem 0 22rem;
            align-items: center;

            p{
                max-width: 33.75rem;
            }
        }

        .cardWrapper{
            display: grid;
            grid-template: 1fr / 1fr 1fr 1fr;
            gap: 1.5rem;
            justify-content: space-around;
            align-items: center;
            margin: 0 7rem; 
        }

        .cardItem{
            background-color: $color-darkCyan;
            border-radius: 8px;
            border: none;
            padding: 4.37rem 4.5rem 3.62rem 4.5rem;
            position: relative;
            bottom: -15%;

            h4{
                margin-top: 3.93rem;
            }
        }

        .truckImg{
            height: 72px;
            width: auto;
        }
    }

    //How it Works Section

    .howItWorks{
        margin: 10rem 12.8rem 6rem 12.8rem;
        padding: 2rem 0;

        h4{
            color: $color-grey;
        }
    }

    .howItWorks_dark{
        margin: 10rem 12.8rem 6rem 12.8rem;
        padding: 2rem 0;
        background-image: url(/assets/about/desktop/bg-quality.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        
    }

    .howItWorksWrapper{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 1rem;
        position: relative;
        z-index: 2;
        padding: 1rem 0 3rem;
    }

    .howItWorksItem{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;

        padding: 0 3rem;

            h2{
            color: $color-paleOrange;
            margin: 3.5rem 0 2.75rem 0;
            }
            h3{
                max-width: 70%;
                margin: 0;
                color: $color-darkGreyBlue;
            }
            p{
            color: $color-darkGreyBlue;
            }
    }  

    .howItWorksItem_dark{
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;

        padding: 0 3rem;

            h2{
            font-size: 4rem;
            color: $color-paleOrange;
            margin: 3.5rem 0 2.75rem 0;
            
            }

            h3{
                max-width: 55%;
                margin: 0;
                color: white;
            }
            p{
                color: white;
                max-width: 80%;
            }
    }

    .accentCircle{
        width: 31px;
        height: 31px;
        background-color: white;
        border: 2px solid $color-darkCyan;
        border-radius: 100%;
        position: relative;
        z-index: 1;
    }

    .accentCircle_dark{
        width: 31px;
        height: 31px;
        background-color: none;
        border: 2px solid $color-darkCyan;
        border-radius: 100%;
        position: relative;
        z-index: 1;
    }

    .accentLine{
        position: absolute;
        height: 2px;
        content: "";
        color: $color-paleOrange;
        min-width: 25vw;
        z-index: -1;
        border: 2px solid $color-paleOrange;
        margin: 0;
    }

    .--start{
        margin: .8rem 1rem 0 1rem;
    }
    .--middle{
        margin: .8rem 0 0 0;
        width: 32vw;
        left: 15%;
    }
    .--end{
        margin: .8rem 0 0 1rem;
        width: 10rem;
        transform-origin: center left;
        transform: rotate(180deg);
    }

    //footer
    footer{
        background-color: $color-darkGreyBlue;
        padding: .1rem;

            .footerWrapper{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;
                margin: 2rem 2.5rem;
                }

                    .socialLinks{
                        display: flex;
                        flex-flow: row wrap;
                        justify-self: flex-end;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-family: $font-body;
                        padding-left: 0;
                    }
    
                    .footerNavLinks{
                        display: flex;
                        flex-flow: row wrap;
                        justify-self: center;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-family: $font-body;
                        padding-left: 0;
                    }
                
                li{
                    font-size: .75rem;
                    // padding-left: 1.3rem;
                    list-style: none;
                }

                a{
                    text-decoration: none;
                    color: $color-grey;
                    padding: 0 .75rem;
                }

                a:hover{
                    color: white;
                }

                .footerLogo{
                    justify-self: flex-start;
                }
    }

    @media screen and (min-width: 699px) and (max-width: 1024px){
        
    .ourCollection{

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        
        gap: 1rem;
        margin: 5rem 2.5rem;
        max-width: 100vw;


            h1{
                font-size: 5.75rem;
                text-align: center;
                align-self: center;
                min-width: 100vw;
            }
            
            .altTitleGradient{
                top: 39.5rem;
                line-height: 5rem;
                
            }

            .collectionItem{
                flex-flow: column wrap;
                justify-content: flex-start;
                align-items: flex-start;
                text-align: left;
                z-index: 1;
                position: relative;
                gap: .5rem;
                margin: 3.5rem 1rem;
                max-height: 10rem; 
                max-width: 90vw;
            }

            img{
                max-width: 40vw;
            }

            h4{
                margin: 0;
            }

            p{
                padding: 0;
            }

            .item-textWrap{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                max-width: 30vw;
            }
        }

        .whyUs{
            
            margin: 0 3rem 20rem;
            justify-content: center;
            max-height: auto;
    
            .whyUsDetails{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding: 2rem 2.25rem 0 2.25rem;
                align-items: center;
            }
    
            .cardWrapper{
                display: grid;
                grid-template: 1fr 1fr 1fr / 1fr;
                gap: 1.5rem;
                justify-content: center;
                align-items: center;
                margin: 0 3rem; 
            }
    
            .cardItem{
                display: flex;
                flex-flow: row nowrap;

                padding: 3rem 1rem;
                position: relative;
                bottom: -15%;

                justify-content: center;
                align-items: center;

                img{
                    max-width: 55px;
                    max-height: 55px;
                    margin: 1rem 2.5rem;
                }
                
                .cardItem-textWrap{
                    display: flex;
                    flex-flow: column nowrap;
                    text-align: left;
                    margin: 0 1rem;

                    h4{
                        margin: 0;
                    }
                }

            }
    
            .truckImg{
                height: auto;
                width: 57px;
            }
        }

        .howItWorks{
            margin: 10rem 2.75rem 6rem;
            padding-top: 4rem;
        }

        .howItWorks_dark{
            margin: 10rem 0 6rem;
            padding-top: 4rem;
            background-image: url(/assets/plan/desktop/bg-steps.png);

    
        }
    
        .howItWorksWrapper{
            flex-flow: row nowrap;
            justify-content: center;
            gap: 2rem;
            margin: 0;
           
            padding: 2rem 0 3rem;
            position: relative;
           
        }
    
        .howItWorksItem{
            flex-flow: column wrap;
            justify-content: baseline;
            padding: 0;
            width: 33%;
            
    
                h2{
                margin: 3.5rem 0 2.75rem 0;
                font-size: 4.5rem;
                line-height: 4.5rem;
                }
                h3{
                    max-width: 95%;
                    margin: 0 0 1rem 0;
                }
               
        } 
        .howItWorksItem_dark{
            flex-flow: column wrap;
            justify-content: baseline;
            padding: 0;
            min-height: 10rem;
            
                h2{
                margin: 3.5rem 0 2.75rem 0;
                color: $color-paleOrange;
                font-size: 4.5rem;
                line-height: 4.5rem;
                }
                h3{
                    max-width: 95%;
                    margin: 0 0 1rem 0;
                    color: white;
                }
               
        } 

          //footer
    footer{
        background-color: $color-darkGreyBlue;
        padding: .1rem;

            .footerWrapper{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                margin: 2rem 2.5rem;
                }

                .footerLogo{
                    padding-bottom: 1rem;
                }

         }
    }

    @media screen and (max-width: 698px){

.ourCollection{

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        
        gap: 1rem;
        margin: 5rem 2.5rem;
        max-width: 100vw;


            h1{
                font-size: 6.25rem;
                text-align: center;
                align-self: center;
                max-width: 100vw;
            }

            .altTitleGradient{
                top: 42rem;
                line-height: 5rem;
            }

            .collectionItem{
                flex-flow: column wrap;
                justify-content: flex-start;
                align-items: flex-start;
                text-align: left;
                z-index: 1;
                position: relative;
                gap: .5rem;
                margin: 3.5rem 1rem;
                max-height: 10rem; 
                max-width: 90vw;
            }

            img{
                max-width: 40vw;
            }

            h4{
                margin: 0;
            }

            p{
                padding: 0;
            }

            .item-textWrap{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                max-width: 30vw;
            }
        }

        .whyUs{
            
            margin: 0 3rem 28rem 3rem;
            justify-content: center;
            max-height: auto;
            max-height: 850px;
    
            .whyUsDetails{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                padding: 2rem 2.25rem 0 2.25rem;
                align-items: center;

                p{
                    margin-top: 0;
                }
            }
    
            .cardWrapper{
                display: grid;
                grid-template: 1fr 1fr 1fr / 1fr;
                gap: 1.5rem;
                justify-content: center;
                align-items: center;
                margin: 0 3rem; 
            }
    
            .cardItem{
                display: flex;
                flex-flow: column nowrap;

                padding: 3rem 1rem;
                position: relative;
                bottom: -15%;

                justify-content: center;
                align-items: center;

                img{
                    max-width: 55px;
                    max-height: 55px;
                    margin: 1rem 2.5rem;
                }
                
                .cardItem-textWrap{
                    display: flex;
                    flex-flow: column nowrap;
                    text-align: center;
                    margin: 0 1rem;

                    h4{
                        margin: 0;
                    }
                }

            }
    
            .truckImg{
                height: auto;
                width: 57px;
            }
        }

        .howItWorks{
            margin: 10rem 1.75rem 6rem 1.75rem;
            padding-top: 4rem;
            text-align: center;

            h2{
                color: $color-paleOrange;
                line-height: 5rem;
                font-size: 5rem;
                
            }

            h3{
                color: $color-darkGreyBlue;
                line-height: 2.5rem;
                font-size: 3rem;
                
            }

            p{
                color: $color-darkGreyBlue;
            }
            h4{
                font-size: 2rem;
                line-height: 4rem;
            }
        }

        .howItWorks_dark{
            margin: 10rem 0 6rem 0;
            padding-top: 4rem;
            background-image: url(/assets/plan/tablet/bg-steps.png);
            border-radius: 0;
            max-height: 35rem;

            h2{
                color: $color-paleOrange;
            }
        }
    
        .howItWorksWrapper{
            flex-flow: column nowrap;
            justify-content: center;
            align-self: center;
            gap: 1rem;
            margin-bottom: -4rem;
    
            position: relative;
            top: -97px;
        }
    
        .howItWorksItem{
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding: 0;
            text-align: center;
    
                h1{
                margin: 3.5rem 0 2.75rem 0;
                }
                h3{
                    max-width: 100%;
                    margin: 0 0 1rem 0;
                }
               
        }  

        .howItWorksItem_dark{
            flex-flow: column wrap;
            justify-content: baseline;
            padding: 0 1rem;
    
                h1{
                margin: 3.5rem 0 2.75rem 0;
                color: white;
                }
                h3{
                    max-width: 95%;
                    margin: 0 0 1rem 0;
                    color: white;
                }
                p{
                    font-size: .8rem;
                }
               
        }

        .accentCircle{
            display:none;
        }
        .accentCircle_dark{
            display: none;
        }
        .accentLine{
            display: none;
        }


    footer{
            .footerWrapper{
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin: 2rem 2.5rem;
                gap: 1.75rem;
                }

                    .socialLinks{
                        flex-flow: row nowrap;
                        justify-self: center;
                    }

                .footerLogo{
                    justify-self: center;
                }
        
        }
    }
