.hamburger{
    background-color: transparent;
    border: 0;
    color: $color-darkGreyBlue;
    font-size: 1.25rem;
    cursor: pointer;
    display: none;
}

.hamburger:focus{
    outline: none;
}

header{
    margin: 2.25rem 5rem 2rem 5rem;
}

nav{
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;

    img{
        max-width: 14.68rem;
    }
}

.nav-ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    font-size: .75rem;
    font-weight: bold;

    li a{
        display: inline-block;
        color: $color-grey;
        text-transform: uppercase;
        font-family: $font-body;
        padding: 0 1.2rem;
        text-decoration: none;
        cursor: pointer;

    }

    a:hover{
        color: $color-darkGreyBlue;
    }

    
    ul{
        position: absolute;
        padding: 0;
        display: none;
        list-style-type: none;
    }

    li:hover ul ul {
        display: none;
        
    }
    li:hover ul {
        display: block;
        background-color: $color-lightCream;
    }

    li li:hover ul {
        display: block;
        margin-left: 1rem;
        margin-top: -2rem;
        
    }
}

@media screen and (min-width: 699px) and (max-width: 1024px){
    header{
        margin: 2.5rem;
    }
    
}

@media screen and (max-width: 698px){
    header{
        margin: 1.5rem;
    }
    nav{
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2.5rem 0;

        li{
            margin-top: 1rem;
            font-size: 1.25rem;
            line-height: 2rem;
            font-weight: normal;
        }
        img{
            max-width: 10.2rem;
        }
    }
    .nav-ul{
        display: none;
        width: 100%;
        flex-flow: column wrap;
        text-align: center;
        border-top: solid 1px $color-grey;
    }

    .nav-ul.show{
        display: block;
        margin-top: 1rem;
    }

    .hamburger{
        display:block;
    }
}

