// Color Palette 

$color-darkCyan: rgb(14, 135, 132);
$color-darkGreyBlue: #2C343E;
$color-paleOrange: rgb(253, 214, 186);
$color-lightCream: rgb(254, 252, 247);
$color-grey: rgb(131, 136, 143);

//Font variables
$font-body: 'Barlow', sans-serif;
$font-title: 'Fraunces', serif;

body{
    .font-titleAltBig{
    font-family: 'Fraunces', serif;
    font-size: 9.37rem;
    line-height: 4.5rem;
    font-weight: 900;
    }

    h1{
        font-family: $font-title;
        font-size: 4.5rem;
        line-height: 4.5rem;
        font-weight: 900;
    }

    h2{
        font-family: $font-title;
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 900;
    }

    h3{
        font-family: $font-title;
        font-size: 2rem;
        line-height: 2.25rem;
    }

    h4{
        font-family: $font-title;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    p{
        font-family: $font-body;
        font-size: 1rem;
        line-height: 1.63rem;
        font-weight: normal;
        
    }
}

//Buttons
.mainButton{
    color: white;
    font-family: $font-title;
    font-size: 1.125rem;
    background-color: $color-darkCyan;
    border-radius: 6px;
    border: none;
    padding: 1rem 1.75rem;
    cursor: pointer;
    text-decoration: none;
}

.mainButton:hover{
    background-color: #66D2CF;
}

.mainButton:disabled{
    background-color: #E2DEDB;
}

@media screen and (max-width: 698px){
    .mainButton{
        
        padding: 1rem 1.75rem;
        cursor: pointer;
        text-decoration: none;
    }
}